
.forecast-section{
    display: flex;
}
.main-modal{


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    /*background-color: #89375F;*/
    background: rgb(6,0,97);
    background: linear-gradient(128deg, rgba(6,0,97,1) 30%, rgba(10,0,129,1) 50%, rgba(52,0,45,1) 99%);
    /*background: rgb(2,0,36);*/
    /*background: linear-gradient(161deg, rgba(2,0,36,1) 18%, rgba(9,9,121,1) 47%, rgba(51,7,29,1) 77%, rgba(15,1,4,1) 92%);*/
    border: 2px;
    border-radius: 10px;
    /*box-shadow: 20;*/
    padding: 10px;
}
.heading{
    padding-top: 10px;
    color: azure;
    text-align: center;
    font-size: 35px;
    font-family: Poppins, serif;
    font-weight: bolder;
}

.sub-title{
    /*margin-top: 20px;*/
    text-align: center;
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    font-family: Poppins, serif;
}

.close-btn{
    padding:5px;
    float: right;
    color: azure;
}
.close-btn:hover{
    cursor: pointer;
}


.fiveDays{
    width: 420px;
    margin-top: 20px;
}

.today{

    margin-top: 20px;
    margin-left: 20px;
}


@media only screen and (max-width: 960px) {
    .forecast-section{
        display:block;
    }

    .main-modal{
        width: fit-content;
        /*top: 40%;*/
        height: fit-content;
        text-align: center;
    }

    .fiveDays{
        margin-left: 20px;
        text-align: center;
    }
    .today{
        text-align: center;
        margin-left: 0;
    }
}

@media only screen and (max-width:455px) {
    .main-modal{
        width: 350px;
    }
    .heading{
        padding-top: 10px;
        font-size: 22px;
    }
    .sub-title{
        font-size: 18px;

    }
    .fiveDays{
        width: 300px;
    }
    .today{
        margin-left: 10px;
    }

}